.root{
    -fx-background-color: #232946;
}
#Vbox_formulario{
    -fx-background-color: #7f5af0;
    -fx-background-radius: 101;
}

#btn_crear{
    -fx-text-fill: #fffffe;
    -fx-background-color: #3f4149;
    -fx-border-radius: 30;
}
#btn_crear:hover{
    -fx-background-color: #2cb67d;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-background-radius: 8px;
}
#btn_editar{
    -fx-text-fill: #fffffe;
    -fx-background-color: #3f4149;
    -fx-border-radius: 30;
}
#btn_editar:hover{
    -fx-background-color: #3a6ddc;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-background-radius: 8px;
}
#btn_eliminar{
    -fx-text-fill: #fffffe;
    -fx-background-color: #3f4149;
    -fx-border-radius: 30;
}
#btn_eliminar:hover{
    -fx-background-color: #e31515;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-background-radius: 8px;
}


.text-input:editable:right .box .arrow-button{
    -fx-background-color: #3f4149;
    -fx-border-color: transparent;
}
.text-input:editable:right .box .arrow-button .arrow{
    -fx-background-color: #fff;
    -fx-opacity: 4;
}

GridPane Label{
    -fx-text-fill: #fffffe;
    -fx-font-weight: bold;
    -fx-border-radius: 20;
    -fx-font-size: 15px;
}

GridPane TextField{
    -fx-background-color: #b8c1ec;
    -fx-border-radius: 5px;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
#btn_limpiarCampos{
    -fx-text-fill: #fffffe;
    -fx-background-color: #3f4149;
    -fx-border-radius: 30;
}
#btn_limpiarCampos:hover{
    -fx-background-color: #ff5757;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}
#btn_cargarFoto{
    -fx-text-fill: #fffffe;
    -fx-background-color: #3f4149;
    -fx-border-radius: 30;
    -fx-font-size: 14px;
    -fx-background-radius: 8px;
}
#btn_cargarFoto:hover{
    -fx-background-color: #41d9f4;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}
#cmb_opcionesBusqueda .arrow{
    -fx-background-color: black;
}
#cmb_opcionesBusqueda{
    -fx-background-color: #7f5af0;
    -fx-text-fill: #fffffe;
    -fx-max-width: 150px;
    -fx-background-radius: 8px;
    -fx-font-weight: bold;
}
#cmb_opcionesBusqueda .list-view {
    -fx-min-width: 150px;
    -fx-background-color: #2cb67d;
    -fx-border-color: #2cb67d;
    -fx-border-radius: 5px;
    -fx-text-fill: #fffffe;
    -fx-font-weight: bold;
    -fx-opacity: 0.9;
}

#tb_tablaContactos{
    -fx-background-color: #72757e;
    -fx-border-color: transparent;
    -fx-opacity: 0.9;
    -fx-border-radius: 5px;
    -fx-background-radius: 8px;
}
.table-view .table-cell {
    -fx-background-color: #72757e;
    -fx-text-fill: #fffffe;
}
.column-header{
    -fx-background-color: #2cb67d;
}

#tb_tablaContactos .table-view{
    -fx-background-color:  #72757e;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-font-size: 10;
}
.table-view .column-header .label {
    -fx-text-fill: white;
}
.table-view .scroll-bar {
    -fx-background-color: #2cb67d;
}
.email-field{
    -fx-region-border: transparent;
}
#txt_buscar{
    -fx-background-color: #b8c1ec;
    -fx-border-radius: 5px;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

#txt_buscarTelONom{
    -fx-background-color: #b8c1ec;
    -fx-border-radius: 5px;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}


#clp_fechacumpleanos Label{
    -fx-text-fill: #3f4149;
    -fx-font-size: 13;
}
#vbox_cargarfoto{
    -fx-spacing: 10;
    -fx-padding: 10;
}
#btn_refrescarTabla{
    -fx-background-color: #7f5af0;
    -fx-text-fill: #262626;
    -fx-max-width: 150px;
    -fx-background-radius: 8px;
    -fx-font-weight: bold;
}